@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hentaigana:wght@200..900&family=PT+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Triodion&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EEEEEE;
  --foreground: #1D1616;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EEEEEE;
    --foreground: #1D1616;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins',  'Noto Serif Hentaigana', 'Triodion', 'PT Mono', 'sans-serif';
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  cursor: grab;
}

[data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-section] {
  will-change: transform;
}
