@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hentaigana:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d3d3d3;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #978484;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto',  'Noto Serif Hentaigana', sans-serif;
}
